<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Tag</title>
</head>
<body>
    <h1>
        Create Tag
    </h1>
    <form action="/tags/new" method="post">
        <Label for="tag">Tag Name</Label>
        <input type="text" id="tag" name="tag_name">
        <br>
        <br>
        <button type="submit">Add</button>
    </form>
    <br>
    <button><a href="/tags">Cancel</a></button>
</body>
</html>