<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Edit User</title>
</head>
<body>

    <h1>Edit a User</h1>
    <form action="/users/edit/{{user.id}}" method="post">


        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" value="{{user.first_name}}">
        <br>
        <br>
        <label for="last_name">Last Name</label>
        <input type="text" id="last_name" name="last_name" value="{{user.last_name}}">
        <br>
        <br>
        <label for="image_url">Image</label>
        <input type="text" id="image_url" name="image_url" value="{{user.image_url}}">

        <br>
        <br>
        <a href="/users/{{user.id}}" id="cancel-edit-button">Cancel</a>
    
        <button id="edit-user-button">Finalize</button>


    </form>
    
</body>
</html>