<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Users</title>
</head>
<body>
    
    <h1>Users!</h1>

    <ul class="user-list">
        {% for user in users%}
        <li><a href="/users/{{user.id}}">{{user.first_name}} {{user.last_name}}</a></li>
        {% endfor %}
    </ul>


    <button id="start-add-user"><a href="/users/new">Add User</a></button>


</body>
</html>