<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MADLIBS!</title>
</head>

<body>
    <h1>MADLIBS!</h1>
    <form action="/new-story">


        <!-- Adding Prompts -->
        <label for="noun">Add Noun</label>
        <br>
        <input type="text" placeholder="Noun" name="noun" id="noun">
        <br>
        <label for="verb">Add Verb</label>
        <br>
        <input type="text" placeholder="Verb" name="verb" id="verb">
        <br>
        <label for="place">Add Place</label>
        <br>
        <input type="text" placeholder="Place" name="place" id="place">
        <br>
        <label for="adjective">Add Adjective</label>
        <br>
        <input type="text" placeholder="Adjective" name="adjective" id="adjective">
        <br>
        <label for="plural-noun">Add Plural Noun</label>
        <br>
        <input type="text" placeholder="Plural Noun" name="plural_noun" id="plural-noun">



        <!-- Adding Story -->
        <br>
        <br>
        <label for="story">Add Your Story!</label>
        <br>
        <input type="text" placeholder="Story" name="story" id="story">
        <button>Submit!</button>
    </form>
</body>
</html>